{% extends 'base.html' %}
<!--title-->
{% block title %} Coder's Blog - Home {% endblock title %}
<!--navbar active class-->
{% block homeactive %} active {% endblock homeactive %}
<!-- load humanize module -->
{% load humanize %}
<!--body-->
{% block body %}
    <section class="pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="jumbotron">
                        <h1 class="display-4">Welcome to coder's Blog!</h1>
                        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                        <hr class="my-4 bg-success">
                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                        <a class="btn btn-success btn-lg" href="/blog" role="button">Go To Blog</a>
                    </div>
                </div>
            </div> 
            <h2 class="mb-3">Popular Blogosts: </h2>
            {% for post in posts %}
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">{{post.author}} (views : {{post.views}})</strong>
                    <h3 class="mb-1">{{post.title}}</h3>
                    <div class="mb-1 text-muted">{{post.timeStamp | naturaltime}}</div>
                    <p class="card-text mb-2">{{post.content|safe|truncatechars_html:80}}</p>
                    <div>
                        <a href="/blog/{{post.slug}}" role="button" class="btn btn-success">Continue reading</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock body %}